<div class="container-fluid">
<div class="sidebar">
  <a class="active" [routerLink]="['/admin-dashboard']">Dashboard</a>
  <a [routerLink]="['/register-agent']" routerLinkActive="active">Add Agent</a>
  <a [routerLink]="['/policy-request']" routerLinkActive="active">Policy Requested</a>
  <a [routerLink]="['/home']" (click)="this.logout.logout()">Logout</a>
</div>

<!-- Page content -->
<div class="content">
  <div class="row">
      <div class="col-md-5 agents text-center">
        <div  class="row1">
          <h3>AGENTS</h3>
        </div>
        <table class="table table-striped">
          <thead>

            <tr>
            <th scope="col">S.no</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let agent of agents; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ agent.firstName }} {{agent.lastName}}</td>
                <td><button class="btn btn-outline-info" (click)="showAlert(agent)">Show Details</button></td>
                <div *ngIf="agent.myValue">
                  <p>Contact.No:{{agent.mobileNumber}}</p>
                  <p>Email:{{agent.email}}</p>
                  <p>City:{{agent.city}}</p>
               </div>
              </tr>
              </tbody>
            </table>
      </div>
      <div class="col-md-6 policyHolder">
          <div class="row1">
            <h3>POLICY HOLDERS</h3>
          </div>
          <table class="table table-striped">
            <thead>

              <tr>
              <th scope="col">S.no</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let holder of policyHolders; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ holder.firstName }} {{holder.lastName}}</td>
                  <td><button class="btn btn-success" (click)="this.approval(holder.id)">Approve</button>
                  <button class="btn btn-danger" (click)="this.rejection(holder.id)">Reject</button>
                  <button class="btn btn-outline-info" (click)="showAlert(holder)"> Show Details</button> </td>
                   <div *ngIf="holder.myValue">
                      <p>Contact.No:{{holder.mobileNumber}}</p>
                      <p>Status:{{holder.status}}</p>
                      <p>City:{{holder.city}}</p>
                      <p>Email:{{holder.email}}</p>
                   </div>
                </tr>
                </tbody>
              </table>
        </div>


    <!-- <div class="col-md-5 ">
    <h3>Agents</h3>
    <ol class="list-group blue" *ngFor="let agent of this.commonService.agents">
        <li class="list-group-item  list-group-item-success disabled">{{agent.firstName}} {{agent.lastName}}</li>
      </ol>
  </div>
  <div class="col-md-5 ">
      <h3>Policy Holders</h3>
      <ol class="list-group  mx-auto justify-content-center" *ngFor="let policyHolder of this.commonService.policyHolders">
          <li class="list-group-item list-group-item-success">{{policyHolder.firstName}} {{policyHolder.lastName}}</li>
      </ol>
    </div> -->
</div>

</div>
</div>
