/.metadata/
/.recommenders/
.idea
/ImicSpring/src/main/resources/static
Imic-angular/src/app/Components/Dashboard/policyholder-dashboard/claim-request/claim-request.component.css
Imic-angular/src/app/Components/Dashboard/policyholder-dashboard/claim-request/claim-request.component.html
Imic-angular/src/app/Components/Dashboard/policyholder-dashboard/claim-request/claim-request.component.spec.ts
Imic-angular/src/app/Components/Dashboard/policyholder-dashboard/claim-request/claim-request.component.ts
ImicSpring/src/main/java/com/diaspark/imic/repository/UserRepository.java.orig
ImicSpring/src/main/resources/static/3rdpartylicenses.txt
ImicSpring/src/main/resources/static/es2015-polyfills.bda95d5896422d031328.js
ImicSpring/src/main/resources/static/favicon.ico
ImicSpring/src/main/resources/static/index.html
ImicSpring/uploadFile/7TH.pdf
Imic-angular/src/app/Components/Dashboard/policyholder-dashboard/claim-request/claim-request.component.css
ImicSpring/src/main/resources/static/main.516d250e6db637936d82.js
ImicSpring/src/main/resources/static/polyfills.8bbb231b43165d65d357.js
ImicSpring/src/main/resources/static/runtime.26209474bfa8dc87a77c.js
ImicSpring/src/main/resources/static/scripts.6cf4da7113bcd1218d80.js
ImicSpring/src/main/resources/static/styles.96117718144665ad2957.css
ImicSpring/src/main/resources/static/assets/freestock_4721246.mp4
ImicSpring/src/main/resources/static/assets/health-insurance.jpg
ImicSpring/src/main/resources/static/assets/health.mp4
ImicSpring/src/main/resources/static/assets/img_avatar2.png
ImicSpring/src/main/resources/static/assets/Untitled design.png
ImicSpring/uploadFile/2.pdf
ImicSpring/uploadFile/4.pdf
ImicSpring/uploadFile/5.pdf
resources/static/3rdpartylicenses.txt
resources/static/es2015-polyfills.bda95d5896422d031328.js
resources/static/favicon.ico
resources/static/index.html
resources/static/main.86936a6391b051a4b66f.js
resources/static/polyfills.8bbb231b43165d65d357.js
resources/static/runtime.26209474bfa8dc87a77c.js
resources/static/scripts.6cf4da7113bcd1218d80.js
resources/static/styles.96117718144665ad2957.css
resources/static/assets/freestock_4721246.mp4
resources/static/assets/health-insurance.jpg
resources/static/assets/health.mp4
resources/static/assets/img_avatar2.png
resources/static/assets/Untitled design.png
