<!-- <p>
  register-policyholder works!
</p>

 //main app container 
<div class="container-fluid" id="form">
  <div class="card m-3">
      <h5 class="card-header">Add-Details</h5>
      <div class="card-body">
          <form [formGroup]= "registerForm" (ngSubmit)="onSubmit()" >
              <div class="form-row">
                  </div>
                  <div class="form-group col-5">
                      <label>First Name</label>
                      <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                          <div *ngIf="f.firstname.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <div class="form-group col-5">
                      <label>Last Name</label>
                      <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                          <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Phone-no</label>
                  <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">phone-no is required</div>
                      <div *ngIf="f.phone.errors.minlength">phone-no must be a valid </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>City</label>
                  <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required">address is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Adhar-no</label>
                  <input type="text" formControlName="adhar" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adhar.errors }" />
                  <div *ngIf="submitted && f.adhar.errors" class="invalid-feedback">
                      <div *ngIf="f.adhar.errors.required">Adhar-no is required</div>
                      <div *ngIf="f.adhar.errors.minlength">Adhar-no must be a valid </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Policy</label>
                  <select formControlName="policy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.policy.errors }">
                      <option value=""></option>
                      <option value="1">policies[0]</option>
                      <option value="2">policies[1]</option>
                      <option value="3">policies[2]</option>
                  </select>
                  <div *ngIf="submitted && f.policy.errors" class="invalid-feedback">
                      <div *ngIf="f.policy?.errors.required">Title is required</div>
                  </div>
             </div>
             <div class="form-group">
              <label>Nominee:</label>
              // <button class="btn btn-secondary btn-sm m-2" type="button" (click)="addAlternateEmail()">Add Nominie</button>
              <div class="input-group">
              <input  formControlName="nominee" type="text" class="form-control" placeholder="enter name">
              <span class="input-group-addon">-</span>
              <input  formControlName="relation" type="text" class="form-control" placeholder="enter relationship">
            </div>
              
              <div class="text-center">
                  <button class="btn btn-primary mr-1">Register</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
              </div>
          </form>
      </div>
  </div>
  
</div>   -->
