<p>
  register-policyholder works!
</p>

<div class="container-fluid" id="form">
  <div class="card m-3">
      <h5 class="card-header">Add-Details</h5>
      <div class="card-body">
          <form [formGroup]= "registerForm1" (ngSubmit)="onSubmit()">
              <div class="form-row"></div>
                  <div class="form-group">
                      <label>First Name</label>
                      <input required type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Last Name</label>
                      <input required type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
              
              <div class="form-group">
                  <label>Email-Id</label>
                  <input required type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Mobile-no</label>
                  <input required type="number" formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
                  <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                      <div *ngIf="f.mobileNumber.errors.required">mobile-no is required</div>
                      <div *ngIf="f.mobileNumber.errors.minlength">mobile-no must be a valid </div>
                  </div>
              </div>
              
              <div class="form-group">
                  <label>Policy</label>
                  <select formControlName="policyNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.policyNumber.errors }">
                      <option>policy 1</option>
                      <option>policy 2</option>
                      <option>policy 3</option>
                      <!-- <option value="{{this.myPolicy[0].policyId}}">policies[0]</option>
                      <option value="{{this.myPolicy[1].policyId}}">policies[1]</option>
                      <option value="{{this.myPolicy[2].policyId}}">policies[2]</option> -->
                  </select>
                  <div *ngIf="submitted && f.policyNumber.errors" class="invalid-feedback">
                      <div *ngIf="f.policyNumber?.errors.required">Title is required</div>
                  </div>
             </div>

             <div class="form-group">
                <label>City</label>
                <select id="city" type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    <option value="Indore">Indore</option>
                    <option value="Gwalior">Gwalior</option>
                    <option value="Ratlam">Ratlam</option>
                      
                    </select>
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">address is required</div>
                </div>
            </div>
           
             <div class="form-group">
                <label>Adhar-no</label>
                <input required type="text" formControlName="aadhar" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aadhar.errors }" />
                <div *ngIf="submitted && f.aadhar.errors" class="invalid-feedback">
                    <div *ngIf="f.aadhar.errors.required">Adhar-no is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Date of birth</label>
                <input required type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                    <div *ngIf="f.dob.errors.required">dob is required</div>
                </div>
            </div>

            
            <div class="form-group">
                <label>Add aadhar document</label>
                <input required type="file" formControlName="aadhardoc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aadhardoc.errors }" />
                <div *ngIf="submitted && f.aadhardoc.errors" class="invalid-feedback">
                    <div *ngIf="f.aadhardoc.errors.required">Aadhar document is required</div>
                </div>
            </div>
             
              <label>Nominee:</label>
              <div class="form-group">
                    <label>Nominee name</label>
                    <input required type="text" formControlName="nomine" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomine.errors }" />
                    <div *ngIf="submitted && f.nomine.errors" class="invalid-feedback">
                        <div *ngIf="f.nomine.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                        <label>Nominee Relation</label>
                        <input required type="text" formControlName="relation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.relation.errors }" />
                        <div *ngIf="submitted && f.relation.errors" class="invalid-feedback">
                            <div *ngIf="f.relation.errors.required">relation is required</div>
                        </div>
                </div>
                    <div class="form-group">
                            <label>Nominee Aadhar-no</label>
                            <input required type="text" formControlName="aadharno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aadharno.errors }" />
                            <div *ngIf="submitted && f.aadharno.errors" class="invalid-feedback">
                                <div *ngIf="f.aadharno.errors.required">aadharno is required</div>
                            </div>
                    </div>

              <div class="text-center">
                  <button class="btn btn-primary mr-1">Register</button>
              </div>
          </form>
      </div>
  </div>
  
</div>  
