div.navrow
{
    justify-content: center;
    background-color: #7F7FE1;
}
nav
{
    
    /* margin: 5px; */
    border: 2px solid skyblue;
    border-radius: 5px;
    width: 70%;
    
}

a{
    font-size: 1.5rem;
    margin: 2px;
    color: white;
} 