.header{
    background: url('http://www.mocollabhealth.com/images/background.png');
    background-repeat: no-repeat;
    background-size:initial;

}

div.navrow
{
    justify-content: center;

}
nav
{
    width: 70%;
}
nav a{
    color: antiquewhite;

    font-size: 150%;
    margin-right: 25px;
    box-shadow: 1px 0px 1px 0px aliceblue;
    /* border-radius: 5px; */
}

