label{
    background-color: wheat;
    border:2px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
}
input{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
}
#form{
    background-image: linear-gradient(to right,whitesmoke, peru);

}