<div class="container-fluid" style="padding-block-start: 15px;">
  <div class="row" 
       style="height: 50px;padding-top: 15px; background: #36304a; align-content: center; color: white; font-weight: bold; border-radius: 10px">
      <h3>WELCOME TO YOUR IMIC ACCOUNT !</h3>
  </div>
</div>
<br>
<div class="sidebar" position="fixed">
  <a class="active" [routerLink]="['/policyholder-dashboard']">MY Dashboard</a>
  <a class="active" [routerLink]="['/profile']">MY PROFILE</a>
  <a href="">Logout</a>
</div>



  
<div class="container-fluid shivangi content" id="form">
  <div class="card m-3">
      <h5 class="card-header">YOUR POLICY DETAILS</h5>
    
          <div>
              <div class="row">
                    <div class="col">
                        <p>First Name</p>
                      asdfgh
                    </div>
                    <div class="col">
                            <p>Last Name</p>
                            rai
                        </div>
              </div>
          </div>
          <br>
          <br>
          <div>
                <div class="row">
                      <div class="col">
                          <p>Email</p>
                           rai.shivangi29@gmail.com
                      </div>
                      <div class="col">
                              <p>Mobile Number</p>
                              9926450027
                          </div>
                </div>
            </div>
            <br>
            <br>
            <div>
                  <div class="row">
                        <div class="col">
                            <p>Date of birth</p>
                             29-03-1997
                        </div>
                        <div class="col">
                                <p>Policy Number</p>
                                1
                            </div>
                  </div>
              </div>
              <br>
            <br>
            <div>
                  <div class="row">
                        <div class="col">
                            <p>Date of birth</p>
                             29-03-1997
                        </div>
                        <div class="col">
                                <p>Policy Number</p>
                                1
                            </div>
                  </div>
              </div>
              <br>
              <br>
              <div>
                    <div class="row">
                          <div class="col">
                              <p>City</p>
                               indore
                          </div>
                          <div class="col">
                                  <p>Aadhar Number</p>
                                  12345678909876
                              </div>
                              
                    </div>
                </div>
                <br>
              <br>
              <div>
                    <div class="row">
                          <div class="col">
                              <p>Nominee Name</p>
                               dfghj
                          </div>
                          <div class="col">
                                  <p>Nominee relation</p>
                                  12345678909876
                              </div>
                    </div>
                </div>
                <br>
                <br>
          
              <div class="text-center">
                  <button class="btn btn-primary mr-1" (click)="claim()">CLAIM</button>
              </div>
          
      </div>
  </div>
  



