<div class="container-fluid" style="padding-block-start: 15px;">
  <div class="row" 
       style="height: 50px;padding-top: 15px; background: #36304a; align-content: center; color: white; font-weight: bold; border-radius: 10px">
      <h3>WELCOME TO YOUR IMIC ACCOUNT !</h3>
  </div>
</div>
<br>
<div class="sidebar" position="fixed">
  <a class="active" [routerLink]="['/policyholder-dashboard']">MY Dashboard</a>
  <!-- <a class="active" [routerLink]="['/profile']">MY PROFILE</a> -->
  <a [routerLink]='["/home"]' (click)="this.logout.logout()">Logout</a>
</div>



  
<div class="container-fluid shivangi content" id="form">
  <div class="card m-3">
      <h5 class="card-header">YOUR POLICY DETAILS</h5>
    
          <div>
              <div class="row">
                    <div class="col">
                        <p>First Name</p>
                      {{this.userPolicydetail.firstName}}
                    </div>
                    <div class="col">
                            <p>Last Name</p>
                            {{this.userPolicydetail.lastName}}
                        </div>
              </div>
          </div>
          <br>
          <br>
          <div>
                <div class="row">
                      <div class="col">
                          <p>Email</p>
                          {{this.userPolicydetail.email}}
                      </div>
                      <div class="col">
                              <p>Mobile Number</p>
                              {{this.userPolicydetail.mobileNumber}}
                          </div>
                </div>
            </div>
            <br>
            <br>
            <div>
                  <div class="row">
                        <div class="col">
                            <p>Date of birth</p>
                            {{this.userPolicydetail.dob}}
                        </div>
                        <div class="col">
                                <p>Policy Number</p>
                                {{this.userPolicydetail.policyNumber}}
                            </div>
                  </div>
              </div>
              <br>
            <br>
            
              <div>
                    <div class="row">
                          <div class="col">
                              <p>City</p>
                              {{this.userPolicydetail.city}}
                          </div>
                          <div class="col">
                                  <p>Aadhar Number</p>
                                  {{this.userPolicydetail.aadhar}}
                              </div>
                              
                    </div>
                </div>
                <br>
              <br>
              <div>
                    <div class="row">
                          <div class="col">
                              <p>Nominee Name</p>
                              {{this.userPolicydetail.nomine}}
                          </div>
                          <div class="col">
                                  <p>Nominee relation</p>
                                  {{this.userPolicydetail.relation}}
                              </div>
                    </div>
                </div>
                <br>
                <br>
          
              <div class="text-center">
                  <button class="btn btn-primary mr-1" (click)="claim()">CLAIM</button>
              </div>
          
      </div>
  </div>
  



