<div class="container-fluid" style="padding-block-start: 15px;">

<div class="sidebar" position="fixed">
  <a class="active" [routerLink]="['/policyholder-dashboard']">Dashboard</a>
  <!-- <a class="active" [routerLink]="['/profile']">MY PROFILE</a> -->
  <a [routerLink]='["/home"]' (click)="this.logout.logout()">Logout</a>
</div>




<div class="container-fluid content" id="form">
  <div class="card m-3">
      <h5 class="card-header">YOUR POLICY DETAILS</h5>

          <div>
              <div class="row">
                    <div class="col">
                        <p>First Name</p>
                      {{this.userPolicydetail.firstName}}
                    </div>
                    <div class="col">
                            <p>Last Name</p>
                            {{this.userPolicydetail.lastName}}
                        </div>
              </div>
          </div>
          <br>
          <br>
          <div>
                <div class="row">
                      <div class="col">
                          <p>Email</p>
                          {{this.userPolicydetail.email}}
                      </div>
                      <div class="col">
                              <p>Mobile Number</p>
                              {{this.userPolicydetail.mobileNumber}}
                          </div>
                </div>
            </div>
            <br>
            <br>
            <div>
                  <div class="row">
                        <div class="col">
                            <p>Date of birth</p>
                            {{this.userPolicydetail.dob}}
                        </div>
                        <div class="col">
                                <p>Policy Number</p>
                                {{this.userPolicydetail.policyNumber}}
                            </div>
                  </div>
              </div>
              <br>
            <br>

              <div>
                    <div class="row">
                          <div class="col">
                              <p>City</p>
                              {{this.userPolicydetail.city}}
                          </div>
                          <div class="col">
                                  <p>Aadhar Number</p>
                                  {{this.userPolicydetail.aadhar}}
                              </div>

                    </div>
                </div>

              <div>
                <div class="row">
                      <div class="col">
                          <p>Aadhar Document</p>
                          <a (click)="viewDoc()" >View Doc </a>
                      </div>

                </div>
            </div>
                <br>
              <br>
              <div>
                    <div class="row">
                          <div class="col">
                              <p>Nominee Name</p>
                              {{this.userPolicydetail.nominee.nomine}}
                          </div>
                          <div class="col">
                                  <p>Nominee relation</p>
                                  {{this.userPolicydetail.nominee.relationship}}
                              </div>
                    </div>
                </div>
                <br>
                <br>

              <div class="text-center">
                  <button class="btn btn-primary mr-1" (click)="claim()">CLAIM</button>
                  <div *ngIf="claimed">
                      <div class="row">
                            <input  type="file" [(ngModel)]="fileUrl" (change)="selectFile($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted }" />
                      </div>
                      <div class="row">
                            <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload document</button>
                      </div>
                      <div class="row">
                     Enter amount to be claimed:<input type="text" [(ngModel)]="amount">
                      </div>
                      <div class="row">
                          <button (click)="apply()">Submit</button>
                      </div>
                  </div>
              </div>

      </div>
  </div>




