.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:rgba(0, 255, 115, 0.068);
    position: fixed;
    height: 100%;
    overflow: auto;
    margin:107px 50px 0 0;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 25px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: blue;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
.content h3
{
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow:2px 2px 2px cadetblue;
    padding: 5px;
    background: darkslateblue;
    color: whitesmoke;
}
.blue
{
    color: black;
}
  .content h3,.content ul
  {
      margin:20px;
  }
 
  .shivangi
  {
    margin:150px 0 0 300px;
    width: 60%; 
  }

