<div class="container-fluid">
  <div class="row text-center">
    Policy Holders
  </div>
 <div class="row">  
   <div class="col"> 
     <table class="table table-striped">
      <thead>
        <tr>
        <th scope="col">S.no</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let holder of myPolicyHolders; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ holder.firstName }} {{holder.lastName}}</td>
            <td><strong>{{ holder.status }}</strong></td>
            <td><button (click)="display(holder)">Show Details</button></td>
            <div *ngIf="holder.myValue">
                <p>Contact.No:{{holder.mobileNumber}}</p>
                <p>Status:{{holder.status}}</p>
                <p>City:{{holder.city}}</p>
                <p>Email:{{holder.email}}</p>
                <p>Date OF Birth:{{holder.dob}}</p>          
            </div>   
          </tr>
          </tbody>
        </table>
    </div>    
    </div>
    </div>
    