<div class="container-fluid">
<div class="sidebar">
  <a class="active" [routerLink]="['/admin-dashboard']">Dashboard</a>
  <a [routerLink]="['/register-agent']" routerLinkActive="active">Add Agent</a>
  <a [routerLink]="['/policy-request']" routerLinkActive="active">Policy Requested</a>
  <a href="">Logout</a>
</div>

<!-- Page content -->
<div class="content">
  <div class="row">
      <div class="col-md-5 ">  
        <div class="row">
          <h5>Agents</h5>
        </div>
        <table class="table table-striped">
          <thead>
         
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Contact Number</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let agent of this.agents; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ agent.firstName }} {{agent.lastName}}</td>
                <td>{{ agent.city}}</td>
                <td>{{ agent.mobileNumber }}</td>
              </tr>
              </tbody>
            </table>
      </div> 
      <div class="col-md-5 ">  
          <div class="row">
            <h5>Policy Holders</h5>
          </div>
          <table class="table table-striped">
            <thead>
           
              <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">City</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let holder of policyHolders; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ holder.firstName }} {{holder.lastName}}</td>
                  <td>{{ holder.city}}</td>
                  <td><button (click)="this.approval(holder.id)">Approve</button>
                    <button (click)="this.rejection(holder.id)">Reject</button></td>
                </tr>
                </tbody>
              </table>
        </div> 

        
    <!-- <div class="col-md-5 ">
    <h3>Agents</h3>
    <ol class="list-group blue" *ngFor="let agent of this.commonService.agents">
        <li class="list-group-item  list-group-item-success disabled">{{agent.firstName}} {{agent.lastName}}</li>
      </ol>
  </div>
  <div class="col-md-5 ">
      <h3>Policy Holders</h3>
      <ol class="list-group  mx-auto justify-content-center" *ngFor="let policyHolder of this.commonService.policyHolders">
          <li class="list-group-item list-group-item-success">{{policyHolder.firstName}} {{policyHolder.lastName}}</li>
      </ol>
    </div> -->
</div>
  
</div>
</div>