<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class=container-fluid>


<div class="parts">
  <!-- <i class="fa fa-newspaper-o" aria-hidden="true"></i> -->
  <div class="row basic">
    <div class="part-1 col-md-4 "><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p></div>  
    <div class="col-md-4 text-center my-auto blue">
      <i class="fa fa-child fa-5x " aria-hidden="true"></i>
    </div>
    <div class="part-2 col-md-4 "><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p></div>
</div>
<div class="policy">
  <div class="row">
    <h1 class="col-12">Policies</h1>
  </div>
  <div class="row policies">
   <div class="col-md-8">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque temporibus ducimus porro praesentium asperiores nostrum, architecto cumque accusamus eligendi doloremque numquam, ratione earum est? Culpa facere animi at cupiditate! Dolore?</p>
   </div>
   <div class="col-md-4">
     <img src="https://static.radio.net/images/broadcasts/10/90/2245/1/c300.png" height="50%" class="rounded-circle">
   </div>
    
  </div>
<span></span>
  <div class="row policies">
      <div class="col-md-4">
          <img src="https://static.radio.net/images/broadcasts/10/90/2245/1/c300.png"  height="50%" class="rounded-circle">
        </div>  
    <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque temporibus ducimus porro praesentium asperiores nostrum, architecto cumque accusamus eligendi doloremque numquam, ratione earum est? Culpa facere animi at cupiditate! Dolore?</p>
      </div>
     
       
     </div>
     <div class="row policies">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque temporibus ducimus porro praesentium asperiores nostrum, architecto cumque accusamus eligendi doloremque numquam, ratione earum est? Culpa facere animi at cupiditate! Dolore?</p>
        </div>
        <div class="col-md-4">
          <img src="https://static.radio.net/images/broadcasts/10/90/2245/1/c300.png"  height="50%" class="rounded-circle">
        </div>
         
       </div>

</div>
</div>
