
.policy
{
    /* background-color:; */
    width:auto;
    background:url('https://thumbs.gfycat.com/BelovedBabyishAustraliancattledog-size_restricted.gif') no-repeat;
    background-size: cover;
    background-attachment: local;
   padding: 0;
   margin: 0;
    
}
.policy p{
    padding: 20px;
    margin-top: 40px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color:whitesmoke;
}
.blue
{
    color: blue;
    font-size: 180%;
}
.policy i{
    text-align: center;
    color: blue;
}
.basic
{
    margin: 10px;
}
.part-1
{
    width: auto;
    height: 250px;
    border: 2px solid black;
   /* margin: 2px; */
    border-radius: 10px;
}

.part-2
{
    width: auto;
    height: 250px;
    border: 2px solid black;
   
    border-radius: 10px;
}
.part-1,.part-2
{   background-color: #CECDFF;
    overflow: hidden;
}
.policies
{   margin: 20px;
    
}
.policy h1{
    text-align: center;
    width: 100%;  
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color:rgb(37, 176, 231);
    box-shadow: 2px 2px 2px 2px black;
}
/* p{
    margin: 10px;
} */
img{
    margin-top: 60px;
}
.policies div p{
    background-color: cornsilk;
    height: auto;
    overflow-wrap: scroll;
} 
p strong{
    font-size: 2rem;
    border: 1px solid steelblue;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px black;
    background-color: dodgerblue;   
    margin-bottom: 20px;
}
p button{
    margin-top: 15px;
}
.policy .policies{
    height:250px;

}