<div class=container-fluid>


<div class="parts">
  <!-- <i class="fa fa-newspaper-o" aria-hidden="true"></i> -->
  <div class="row">
    <div class="part-1 col-xs-12">Newsletter</div>  
  <div class="part-2 col-xs-12">Basics</div>
</div>
<div class="policy">
  <div class="row">
    <h1 class="col-12">Policies</h1>
  </div>
  <div class="row">
    <section class="policy-1 col-4">
      <h2>Policy 1</h2>
    </section>
    
  </div>

    <div class="row">
    <section class="policy-2 offset-4 col-4">
      <h2>Policy 2</h2>
    </section>
  </div>
  <div class="row">
    <section class="policy-3 offset-8 col-4">
      <h2>Policy 3</h2>
    </section>
  </div>

</div>
</div>
