<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<app-header></app-header>
<div class=container-fluid>


<div class="parts">
  <!-- <i class="fa fa-newspaper-o" aria-hidden="true"></i> -->
  <div class="row basic">
    <div class="part-1 col-md-4 ">
        <marquee scrollamount="5" direction="down">It is a government controlled undertaking and provides a wide gamut of insurance products, including  motor, health, personal and fire insurance.
            That is when a small bunch of people, with no insurance experience, started re-imagining what the insurance space could be. They imagined a place where consumers could find completely transparent insurance information, and an option to research and compare insurance products so they could buy what they really wanted to. A place where all communications would be recorded so that there would be a clear audit trail of who said what in a product as complex as insurance. A place that provided a common service layer for all consumer services and claims.
        </marquee>
    </div>  
    <div class="col-md-4 text-center my-auto blue">
      <i class="fa fa-child fa-5x " aria-hidden="true"></i>
    </div>
    <div class="part-2 col-md-4 ">
      <marquee scrollamount="5" direction="down">Health insurance is a medical insurance policy that offers financial coverage for medical expenses when the policyholder is hospitalised. Health Insurance Companies cover the insured with the facility of cashless hospitalization at a network hospital or provide a reimbursement for the incurred expenses.</marquee></div>
</div>
<div class="policy">
  <div class="row">
    <h1 class="col-12">Policies</h1>
  </div>
  <div class="row policies">
   <div class="col-md-8">
     <p>{{this.myPolicy[0].description}}
       <button class="float-right" (click)="contactUs(0)">Request For This Policy</button>
     </p>

   </div>
   <div class="col-md-4">
     <img src="https://static.radio.net/images/broadcasts/10/90/2245/1/c300.png" height="50%" class="rounded-circle">
   </div>
    
  </div>
<span></span>
  <div class="row policies">
      <div class="col-md-4">
          <img src="https://static.radio.net/images/broadcasts/10/90/2245/1/c300.png"  height="50%" class="rounded-circle">
        </div>  
    <div class="col-md-8">
        <p>{{this.myPolicy[1].description}}
            <button class="float-right" (click)="contactUs(1)">Request For This Policy</button>
        </p>
      </div>
     
       
     </div>
     <div class="row policies">
        <div class="col-md-8">
          <p>{{this.myPolicy[2].description}}
              <button class="float-right" (click)="contactUs(2)">Request For This Policy</button>
          </p>
        </div>
        <div class="col-md-4">
          <img src="https://static.radio.net/images/broadcasts/10/90/2245/1/c300.png"  height="50%" class="rounded-circle">
        </div>
         
       </div>

</div>
</div>
